/* FEYNMAN */

.feynman {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  background-image: url('../../images/feynman.png');
  background-repeat: no-repeat;
  background-position: left bottom;
  align-items: center;
  position: relative;
  height: 790px;
  padding: 100px 0 0;
}
