/* FEYNMAN */

.feynman {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  background-image: url('../../images/feynman.png');
  background-repeat: no-repeat;
  background-position: left bottom;
  align-items: center;
  position: relative;
  height: 790px;
  padding: 100px 0 0;
}

.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  text-align: center;
  font-weight: bold;
  margin: 0;
  /* margin: auto; */
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 70px 0 0;
}

.feynman__link {
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
}
