.cards__item {
  width: 240px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 100px;
}
.cards__item:nth-child(3) {
  margin-right: 0px;
}
