/* FOOTER */
.footer {
  display: flex;
  min-height: 350px;
  box-sizing: border-box;
  padding: 60px 0 40px;
  background-color: #1f1f1f;
  color: white;
}

.logo_place_footer {
  height: 35px;
  background-image: url('../../images/logo_place_footer.svg');
}








