.logo {
  width: 183px;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
.link {
  text-decoration: none;
}

.link:hover {
  opacity: .7;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* HEADER */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;

}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  height: 32px;
  background-image: url('../images/logo_place_header.svg');
}

.header__title {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 2;
  justify-content: center;
  width: 730px;
  height: 100%;
  margin: 0 0 0 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;

}

.header__subtitle {
  position: absolute;
  width: 388px;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  z-index: 2;

}

.header__main-illustration {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0px;
  height: 568px;
  width: 568px;
  background: #2f80ed;
}

.header__link {
  color: #2f80ed;
}

/* DESCRIPTION */

.description {
  margin: 100px auto;
  width: 80%;
}

.two-columns {
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
}

.two-columns__paragraph:nth-child(2) {
  margin: 30px 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

/* DIGITS - Цифры и факты*/
.digits {
  margin: 100px 0;
}

.section-title {
  width: 60%;
  margin: auto;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  width: 60%;
  margin: 20px auto 0;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  margin: auto;
  width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell {
  width: 250px;
  margin: 60px 0 0 0;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}


/* FEYNMAN */

.feynman {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  background-image: url('../images/feynman.png');
  background-repeat: no-repeat;
  background-position: left bottom;
  align-items: center;
  position: relative;
  height: 790px;
  padding: 100px 0 0;
}

.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  text-align: center;
  font-weight: bold;
  margin: 0;
  /* margin: auto; */
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 70px 0 0;
}

.feynman__link {
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
}

/* KAUFMAN */

.kaufman {
  background-color: #1f1f1f;
  padding: 90px 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.kaufman__triangle {
  background-image: url('../images/kaufman-triangle.svg');
  background-size: cover;
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
  z-index: -1;
}

/* FOOTER */

.footer {
  display: flex;
  min-height: 350px;
  box-sizing: border-box;
  padding: 60px 0 40px;
  background-color: #1f1f1f;
  color: white;
}

.footer__columns {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright{
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;

}



.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
}

.footer__column_content_info,
.footer__column_content_social {
  line-height: 30px;
  font-size: 18px;
}

.footer__column-heading {
  font-weight: bold;
  margin: 0 0 20px;
}

.footer__column-links {
  list-style-type: none;
  padding: 0;
  margin: 0 0 16px;
}

.footer__column-link {
  font-weight: normal;
  color: white;
}

.footer__social-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 10px 0 0;
}
